



.p1{
    font-size: 100px;

    text-align: center;
    color: blue;
}

.p2{
     text-align: center;

}
.material-symbols-outlined{
    font-size: 100px; 
}
a{
    background-color: rgb(15, 244, 171);
    text-decoration: solid;
    padding: 5px 15px;
    border: 5px solid black;
}
a:hover{
    color:white;
    background-color: black;
}
a:active{
    color: pink;
}




.p5{
    text-align: right;
    font-style: normal;
  


}